# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# NetCDF datafiles
*.nc

# BOUT compiled settings
*BOUT.settings
*BOUT.log.0


# Sublime workspace
*.sublime-workspace

*.ipynb_checkpoints
